# Google Gemini API
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/embedding-001'

# Database PostgreSQL com pgvector
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=documents

# LangSmith
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your-langsmith-key-here
LANGCHAIN_PROJECT=prompt-management-system
